<p>
  <strong>Name:</strong>
  <%= @staff.name.titleize %>
</p>

<p>
  <strong>Designation:</strong>
  <%= @staff.designation.titleize %>
</p>

<p>
  <strong>Services</strong>
  <%= @staff.services.map(&:name).join(', ').titleize %>
</p>

<%= link_to 'Change Password', edit_staff_registration_path %> |
<%= link_to 'Back', staffs_home_path %>
