<div class='errors'>
  <% @service.errors.full_messages.each do |message| %>
    <p> <%= message %> </p>
  <% end %>
</div>
<%= form_for([:admin, @service], html: { class: "form-horizontal" }) do |f| %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>*
    <div class="controls">
      <%= f.text_field :name %>
    </div>
    <%= error_span(@service[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :duration, :class => 'control-label' %>*
    <div class="controls">
      <%= f.select :duration, options_for_select(get_duration_periods, @service.duration), :class => 'form-control' %>
    </div>
    <%= error_span(@service[:duration]) %>
  </div>
  <div class='control-group'>
    <%= f.label :enabled %>
    <span class='control'>
      <%= f.check_box :enabled, checked: true %>
    </span>
  </div><br>

  <%= f.submit nil, :class => 'btn btn-primary' %>
<% end %>
