<h1>Listing Services</h1>

<%= render '/admin/shared/enabled_filter' %>

<%= link_to 'New service', new_admin_service_path %>
<br />

<div class='row'>
  <div class='col-md-6'>
  </div>
  <div class='col-md-6'>
    <div id='loader_div'>
      <%= image_tag '/loader.gif', height: '25px', width: '25px' %>
    </div>
  </div>
</div>

<div id='list_div'>
  <%= render 'index' %>
</div>

<%= javascript_include_tag 'enabled_filter' %>
