<h1>Listing Services</h1>

<%= render '/admin/shared/enabled_filter' %>

<%= link_to 'New service', new_admin_service_path %>
<br />
<table class = 'table table-hover table-striped'>
  <tr>
    <th>
      Name
    </th>
    <th>
      Duration
    </th>
    <th>
      Enabled
    </th>
    <th>
      Actions
    </th>
  </tr>
  <% @services.each do |service| %>
    <tr class="filter_row <%= service.enabled ? 'enabled' : 'disabled' %>"> 
      <td>
        <%= service.name.titleize %>
      </td>
      <td>
        <%= "#{ service.duration } minutes" %>
      </td>
      <td>
        <%= service.enabled %>
      </td>
      <td>
        <%= link_to 'Show', admin_service_path(service) %>
        |
        <%= link_to 'Edit', edit_admin_service_path(service) %><br/>
      </td>
    </tr>
  <% end %>
</table>
<%= paginate @services %>
<br />
<%= link_to 'New service', new_admin_service_path %>
<%= javascript_include_tag 'enabled_filter' %>
