<p>
  <strong>Service:</strong>
  <%= @appointment.service.name.titleize %>
</p>

<p>
  <strong>Staff:</strong>
  <%= @appointment.staff.name.titleize %>
</p>

<p>
  <strong>Time:</strong>
  <%= @appointment.start_at.strftime("%I:%M %p") %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @appointment.duration %> minutes
</p>

<p>
  <strong>Date:</strong>
  <%= @appointment.start_at.strftime("%d %b %Y") %>
</p>

<% if @appointment.state == 'Cancelled' %>
  <p>
    <strong>Remarks:</strong>
    <%= @appointment.remarks.try(:titleize) %>
  </p>
<% end %>
