<h1>Listing Appointments</h1>

<table class = 'table table-hover table-striped'>
  <tr>
    <th>
      Customer
    </th>
    <th>
      Staff
    </th>
    <th>
      Service
    </th>
    <th>
      Start Time
    </th>
    <th>
      Duration
    </th>
    <th>
      Date
    </th>
    <th>
      Attended
    </th>
    <th>
      Remarks
    </th>
  </tr>
  <% @appointments.each do |appointment| %>
    <tr class='appointment' data-date='<%= appointment.start_at.to_date %>'> 
      <td>
        <%= appointment.customer.name %>
      </td>
      <td>
        <%= appointment.staff.name %>
      </td>
      <td>
        <%= appointment.service.name %>
      </td>
      <td>
        <%= get_local_time(appointment.start_at) %>
      </td>
      <td>
        <%= appointment.duration %>
      </td>
      <td>
        <%= appointment.start_at.to_date %>
      </td>
      <td>
        <%= appointment.attended %>
      </td>
      <td>
        <%= appointment.remarks %>
      </td>
    </tr>
  <% end %>
</table>
<br />
