<table class = 'table table-hover table-striped'>
  <tr>
    <th>
      Staff
    </th>
    <th>
      Service
    </th>
    <th>
      Start Time
    </th>
    <th>
      Duration
    </th>
    <th>
      Date
    </th>
    <th>
      State
    </th>
    <th>
      Remarks
    </th>
    <% if cancellable %>
      <th>
        Actions
      </th>
    <% end %>
  </tr>
  <% appointments.each do |appointment| %>
    <tr class='appointment' data-date='<%= appointment.start_at.to_date %>'> 
      <td>
        <%= appointment.staff.name.titleize %>
      </td>
      <td>
        <%= appointment.service.name.titleize %>
      </td>
      <td>
        <%= appointment.start_at.strftime("%I:%M %p") %>
      </td>
      <td>
        <%= "#{ appointment.duration } minutes" %>
      </td>
      <td>
        <%= appointment.start_at.strftime("%d %b %Y") %>
      </td>
      <td>
        <%= appointment.state %>
      </td>
      <td>
        <%= appointment.remarks.try(:capitalize) %>
      </td>
      <% if cancellable %>
        <td>
          <%= link_to 'Cancel', cancel_customers_appointment_path(appointment), method: :patch %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
