<h1>Reminder Settings</h1>
<br />
<h4>This is to change how much time before your appointment you want to receive a reminder mail.</h4>
<p>Currently it is => <%= distance_of_time_in_words(Time.current,Time.current + @customer.reminder_time_lapse.minutes) %></p>
<%= form_for @customer, html: { class: "form-horizontal" } do |f| %>
  <div class="control-group">
    <%= f.label :days, class: 'control-label' %>
    <div class="controls">
      <%= f.select :days, options_for_select(get_day_number_options, @customer.reminder_days) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :time, class: 'control-label' %>
    <div class="controls">
      <%= f.time_select :time, {ignore_date: true, default: Time.new(0) + @customer.reminder_time_lapse.minutes} %>
    </div>
  </div>
  <%= f.submit :Update, :class => 'btn btn-primary' %>
<% end %>
<%= button_to 'Cancel', customer_home_path, method: :get, class: 'btn btn-secondary' %>
