<%= form_for([:admin, @customer]) do |f| %>
  <% if @customer.errors.any? %>
    <div class="errors">
      <h4><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h4>
      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>*<br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :enabled %><br>
    <%= f.check_box :enabled %>
  </div>
   <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<div>
  <br>
  <%= link_to 'back', :back %>
</div>