<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>
<p>
  <strong>Total Appointments:</strong>
  <%= @customer.appointments.size %>
</p>
<p>
  <strong>Enabled:</strong>
  <%= @customer.enabled %>
</p>

<%= link_to 'Edit', edit_admin_customer_path(@customer), method: :get %> |
<%= link_to 'Back', admin_customers_path %>
