<h1>Listing Staff</h1>

<div id='enabled_filter'>
  <%= label_tag 'filter' %>
  <%= select_tag 'filter', options_for_select([['Enabled', 'enabled'], ['Disabled', 'disabled']]), prompt: 'All' %><br>
</div>
<br />

<%= link_to 'New staff', new_admin_staff_path %>
<br />
<table class = 'table table-hover table-striped'>
  <tr>
    <th>
      Name
    </th>
    <th>
      Designation
    </th>
    <th>
      Email
    </th>
    <th>
      Services
    </th>
    <th>
      Enabled
    </th>
    <th>
      Actions
    </th>
  </tr>
  <% @staffs.each do |staff| %>
    <tr class="filter_row <%= staff.enabled ? 'enabled' : 'disabled' %>"> 
      <td>
        <%= staff.name %>
      </td>
      <td>
        <%= staff.designation %>
      </td>
      <td>
        <%= staff.email %>
      </td>
      <td>
        <%= staff.services.map(&:name).join(', ') %>
      </td>
      <td>
        <%= staff.enabled %>
      </td>
      <td>
        <%= link_to 'Show', admin_staff_path(staff.id) %>
        |
        <%= link_to 'Edit', edit_admin_staff_path(staff), method: :get %><br/>
        <% unless(staff.confirmed_at) %>
          <p>Not yet confirmed</p>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
<%= paginate @staffs %>

<br />
<%= link_to 'New staff', new_admin_staff_path %>
<%= javascript_include_tag 'enabled_filter' %>
