<h2>Create New Staff</h2>

<div class='errors'>
  <% @staff.errors.full_messages.each do |message| %>
    <p> <%= message %> </p>
  <% end %>
</div>
<%= form_for([:admin, @staff]) do |f| %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :designation %><br />
    <%= f.text_field :designation %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class='field'>
    <%= f.label :services %><br />
    <%= f.text_field :services, value: '' %>
  </div>

  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>

<%= link_to 'back', admin_staffs_path %>

<script type="text/javascript">
  $(document).ready(function () {
    $("#staff_services").tokenInput("/services/search");
  });
</script>
