<p>
  <strong>Name:</strong>
  <%= @staff.name %>
</p>

<p>
  <strong>Designation:</strong>
  <%= @staff.designation %>
</p>

<p>
  <strong>Services</strong>
  <%= @staff.services.map(&:name).join(', ') %>
</p>

<%= link_to 'Edit', edit_admin_staff_path(@staff), method: :get %> |
<%= link_to 'Back', admin_staffs_path %>
