<div class="container-fluid">
  <div class='row'>
    <div class='col-md-10'>
      <h2>Welcome to AMS</h2>
    </div>
    

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>




    <div class='col-md-2'>
      <% if !current_customer %>
      <%= link_to 'Sign In(Customer)', new_customer_session_path %><br>
      <%= link_to 'Sign In(Staff)', new_staff_session_path %>
      <% else %>
      <%= link_to 'Sign Out', destroy_customer_session_path, method: :delete %>
      <%= link_to 'Edit Profile', edit_customer_registration_path %>
      <%= select_tag 'service', options_from_collection_for_select(Service.all, 'id', 'name'), prompt: 'Select Service' %>
      <% end %>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-3'>
    </div>
    <div id='calendar' style='width:700px;' class='col-md-6'>
    </div>
    <div class='col-md-3'>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {

    // page is now ready, initialize the calendar...
  $('#service').on('change', function() {
    var value = $(this).val()
    if(value) {

      $('#calendar').fullCalendar({
        // put your options and callbacks here
        contentHeight: 400,
        aspectRatio: 2,
        overLap: false,
        defaultView: 'agendaWeek',
        allDaySlot: false,
        selectable: true,
        slotDuration: '00:15:00',
        snapDuration: '00:15:00',
        slotEventOverlap: false,
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'agendaWeek,agendaDay'
        },
        eventSources: [
          // {
          //   url: '/availabilities',
          //   color: 'green',
          //   textColor: 'blue'
          // },
          {
            url: '/appointments',
            color: 'red',
            textColor: 'blue'
          }

        ],
        eventClick: function(calEvent, jsEvent, view) {
          $.ajax({
            url: 'appointments/' + calEvent['id'] + '/edit'
          })
        }
      })
    }
    else {
      $('#calendar').html('')
    }
  })

});
</script>