<p>
  <strong>Customer:</strong>
  <%= @appointment.customer.name.capitalize %>
</p>

<p>
  <strong>Service:</strong>
  <%= @appointment.service.name.capitalize %>
</p>

<p>
  <strong>Time:</strong>
  <%= @appointment.start_at %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @appointment.duration %>
</p>

<%= form_for [:staffs, @appointment], remote: true do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class='field'>
    <%= f.label :state %><br />
    <% if @appointment.state == 'approved' %>
      <%= f.label :state, "Approved", :value => "approved" %>
      <%= f.radio_button :state, "approved" %><br />
    <% end %>
    <%= f.label :state, "Attended", :value => "attended"  %>
    <%= f.radio_button :state, 'attended' %><br />
    <%= f.label :state, "Missed", :value => "missed"  %>
    <%= f.radio_button :state, 'missed' %><br />
  </div>
  <div class='field'>
    <%= f.label :remarks %>
    <%= f.text_field :remarks %>
  </div>

  <div class='actions'>
    <%= f.submit :save %>
  </div>
<% end %>
