<p>
  <strong>Customer:</strong>
  <%= @appointment.customer.name.titleize %>
</p>

<p>
  <strong>Service:</strong>
  <%= @appointment.service.name.titleize %>
</p>

<p>
  <strong>Time:</strong>
  <%= @appointment.start_at.strftime("%I:%M %p") %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @appointment.duration %> minutes
</p>

<p>
  <strong>Date:</strong>
  <%= @appointment.start_at.strftime("%d %b %Y") %>
</p>

<p>
  <strong>State:</strong>
  <%= @appointment.state %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @appointment.remarks.try(:capitalize) %>
</p>