<div class='container-fluid'>
  <div class='row'>
    <div class='col-md-5'>
    </div>
    <div class='col-md-7'>
      <h2>Log in</h2>
    </div>
  </div>
  <% if alert %>
    <div class='row'>
      <div class='col-md-5'>
      </div>
      <div class='col-md-7'>
        <p id="notice"><%= alert %></p>
      </div>
    </div>
  <% end %>

  <div class='row'>
    <div class='col-md-5'>
    </div>
    <div class='col-md-7'>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Log in" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-5'>
    </div>
    <div class='col-md-7'>
      <%= render "admins/shared/links" %>
    </div>
  </div>
</div>