<h1>Logo:</h1>
<% if Logo.exists? %>
  <%= image_tag Logo.first.image.url(:thumb) %><br>
  <%= link_to 'Change', edit_admin_logo_path(Logo.first) %>
  <%= link_to 'Remove', admin_logo_path(Logo.first), method: :delete %>
<% else %>
  <%= link_to 'Add', new_admin_logo_path %>
<% end %>

<br>
<br>
<br>
<br>
<br>
<br>
<h1>BackGround:</h1>
<% if BackGround.exists? %>
  <%= image_tag BackGround.first.image.url(:thumb) %><br>
  <%= link_to 'Change', edit_admin_back_ground_path(BackGround.first) %>
  <%= link_to 'Remove', admin_back_ground_path(BackGround.first), method: :delete %>
<% else %>
  <%= link_to 'Add', new_admin_back_ground_path %>
<% end %>
