<div class='errors'>
  <% @availability.errors.full_messages.each do |message| %>
    <p> <%= message %> </p>
  <% end %>
</div>

<%= form_for [:admin, @availability] do |f| %>
  <div class='control-group'>
    <%= f.label :staff %>*<br />
    <div class='control'>
      <% if @availability.new_record?%>
    </div>
      <%= f.select :staff, options_for_select(get_staff_options), { prompt: true } %>
    <% else %>
      <%= f.select :staff, options_for_select(get_staff_options, @availability.staff.id), { prompt: true }, { disabled: true } %>
    <% end %>
  </div><br>
  <div class='control-group'>  
    <%= f.label 'Services', for: :services_ids %>*<br />
    <div class='control'>
      <% if @availability.new_record?%>
    </div>
      <%= f.select :service_ids, Service.all.collect { |service| [service.name, service.id] }, { prompt: 'Select services' }, { multiple: true, disabled: true } %>
    <% else %>
      <%= f.select :service_ids, @availability.staff.services.collect { |service| [service.name, service.id] }, {}, { multiple: true } %>
    <% end %>
  </div><br>

  <div class='control-group'>
    <%= f.label :start_at %>*<br />
    <div class='control'>
      <%= f.time_select :start_at, minute_step: 15 %>
    </div>
  </div><br>
  <div class='control-group'>
    <%= f.label :end_at %>*<br />
    <div class='control'>
      <%= f.time_select :end_at, minute_step: 15 %>
    </div>
  </div><br>
  <div class='control-group'>
    <%= f.label :days %>*<br />
    <div class='control'>
      <%= f.select :days, options_for_select(get_day_options, f.object.days || [1, 2, 3, 4, 5]), {}, { multiple: true, style: 'border: none; height: 30px' } %>
      <p><b>Use command/control key to select multiple values</b></p>
    </div>
  </div><br>

  <div class='control-group'>
    <%= f.label :start_date %>*<br />
    <div class='control'>
      <%= f.date_select :start_date, start_year: Date.today.year %>
    </div>
  </div><br>
  <div class='control-group'>
    <%= f.label :end_date %>*<br />
    <div class='control'>
      <%= f.date_select :end_date, start_year: Date.today.year %>
    </div>
  </div><br>

  <div class='control-group'>
    <%= f.label :enabled %>
    <span class='control'>
      <%= f.check_box :enabled, checked: true %>
    </span>
  </div><br>

  <div class="actions">
    <%= f.submit "Submit", class: 'btn btn-primary' %>
  </div><br>
<% end %>
