<h1>Listing availabilities</h1>
<%= label_tag 'month', nil, for: 'date_month' %>
<%= select_month(14, prompt: 'All') %>
<br />

<%= render '/admin/shared/enabled_filter' %>

<div class='row'>
  <div class='col-md-6'>
  </div>
  <div class='col-md-6'>
    <div id='loader_div'>
      <%= image_tag '/loader.gif', height: '25px', width: '25px' %>
    </div>
  </div>
</div>

<div id='list_div'>
  <%= render 'index' %>
</div>

<%= link_to 'Create New Availability', new_admin_availability_path %>
<br />
<%= javascript_include_tag 'availability_filter' %>
<%= javascript_include_tag 'enabled_filter' %>
