<h1>Listing availabilities</h1>
<%= label_tag 'month', nil, for: 'date_month' %>
<%= select_month 14, { prompt: 'All' }, {class: 'availability_filter', id: 'date_filter' } %>
<br />

<div>
  <%= label_tag :enabled %>
  <%= select_tag 'enabled', options_for_select([['Enabled', 't'], ['Disabled', 'f']]), prompt: 'All', id: 'enabled_filter', class: 'availability_filter' %><br>
</div>
<br />

<div class='row'>
  <div class='col-md-6'>
  </div>
  <div class='col-md-6'>
    <div id='loader_div'>
      <%= image_tag '/loader.gif', height: '25px', width: '25px' %>
    </div>
  </div>
</div>

<%= link_to 'New Availability', new_admin_availability_path %>
<div id='list_div'>
  <%= render 'index' %>
</div>

<br />
<%= javascript_include_tag 'availability_filter' %>
<%= javascript_include_tag 'enabled_filter' %>
