<h1>Listing availabilities</h1>

<%= select_month(14, prompt: 'All') %>

<table class = 'table table-hover table-striped'>
  <tr>
    <th>
      Staff
    </th>
    <th>
      Services
    </th>
    <th>
      Start Time
    </th>
    <th>
      End Time
    </th>
    <th>
      Start Date
    </th>
    <th>
      End Date
    </th>
    <th>
      Actions
    </th>
  </tr>
  <% @availabilities.each do |availability| %>
    <tr class='availability'> 
      <td>
        <%= availability.staff.name %>
      </td>
      <td>
        <%= availability.services.map(&:name).join(', ') %>
      </td>
      <td>
        <%= availability.start_time %>
      </td>
      <td>
        <%= availability.end_time %>
      </td>
      <td class='start_date'>
        <%= availability.start_date %>
      </td>
      <td class='end_date'>
        <%= availability.end_date %>
      </td>
      <td>
        <%= link_to 'Show', admin_availability_path(availability.id) %>
        |
        <%= link_to 'Edit', edit_admin_availability_path(availability), method: :get %><br/>
      </td>
    </tr>
  <% end %>
</table>
<%= link_to 'Create New Availability', new_admin_availability_path %>
<br />
<%= javascript_include_tag 'availability_filter' %>
