<!DOCTYPE html>
<html>
  <head>
    <title>AppointmentManager</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class='col-md-10'>
    </div>
    <div class='col-md-2'>
      <% if !@admin %>
      <%= link_to 'Signout', destroy_admin_session_path %>
      |
      <%= link_to 'Home', admin_path %>
      <% end %>
    </div>
    <div>
      <%= yield %>
    </div>



  </body>
</html>
